@charset "UTF-8";
* {
  margin: 3;
  padding: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

html {
  background-image: url(../imagenes/lines_texture1100.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* TÍTULOS */
.titulo {
  text-align: center;
  letter-spacing: 3px;
  font-size: 70px;
  color: antiquewhite;
  margin-bottom: 2rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.copete {
  color: antiquewhite;
  font-size: 30px;
  margin-bottom: auto;
}

/* Menú Lateral */
.btn-open-sidebar {
  display: none;
}

.nav__item--oculto {
  display: none;
}

/* PRIMER CONTENEDOR INDEX */
.caja {
  /* border: 3px solid black; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 5rem;
    max-width: 1600px; */
  width: 95%;
  min-height: 100vh;
  /* padding: 1rem; */
}

.grid__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: antiquewhite;
}

.grid__flex h2 {
  font-size: 140px;
  line-height: 120px;
}

.grid__flex h1 {
  font-size: 60px;
  margin-bottom: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid__flex p {
  font-size: 25px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 48% 50%;
      grid-template-columns: 48% 50%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  /* grid-template-areas: 
        "imagen copete"
        "imagen titulo"
        "imagen texto"; 
    justify-items: stretch;
    align-items: left; */
  margin-bottom: 100px;
  gap: 20px;
}

.grid img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.grid__flex .hero__titulo {
  font-size: 120px;
}

.hero__copete {
  margin-top: -60px;
  margin-bottom: -100px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.grid__flex p {
  font-size: 20px;
}

.hero__parrafo {
  margin-top: -60px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.hero__titulo {
  color: #f0c894;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  font-size: 120px;
}

/* SEGUNDO CONTENEDOR INDEX */
.caja2 {
  /* border: 3px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  max-width: 1600px;
  width: 95%;
  height: 500px;
  padding: 100px;
  min-height: 50vh;
  background: rgba(0, 0, 0, 0.5);
  /* padding: 1rem; */
}

.grid2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid__flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: antiquewhite;
}

.grid__flex2 h3 {
  font-size: 70px;
  line-height: 120px;
  margin-top: -30px;
}

.iconitoWapp {
  margin-top: -50px;
}

/* TABLA PÁGINA FARMACIAS DE TURNO */
.tabla {
  color: antiquewhite;
  font-size: 50px;
  margin: auto;
  margin-bottom: 100px;
}

/* CONTENEDOR PÁGINA CONTACTO */
.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 60% 30%;
      grid-template-columns: 10% 60% 30%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "logoTelefono telefono qr" "logoInstagram instagram qr" "logoGmail gmail qr" "logoDireccion direccion qr";
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: antiquewhite;
  margin-bottom: 200px;
}

/* .grid3 > * {
    border: 1px solid orange;
} */
section#logoTelefono {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logoTelefono;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

section#logoInstagram {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logoInstagram;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

section#logoGmail {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: logoGmail;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

section#logoDireccion {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: logoDireccion;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

section#telefono {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: telefono;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 40px;
}

section#instagram {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: instagram;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 40px;
}

section#gmail {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: gmail;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 40px;
}

section#direccion {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: direccion;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 40px;
}

aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: qr;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.googlemaps {
  margin-top: -100px;
  background: #073c01;
  border-radius: 20px;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 100px;
}

/* PAGINA PERFUMERIA */
.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  gap: 20px;
  padding: 40px 0;
  overflow: hidden;
  margin-bottom: 100px;
}

.galeria h1 {
  color: antiquewhite;
  text-decoration: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.galeria a:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: rotate(10deg) scale(1.3);
          transform: rotate(10deg) scale(1.3);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.light-box img {
  width: 30vw;
  max-height: 70vh;
}

.light-box:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.light-box h1 {
  color: antiquewhite;
  text-align: center;
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #073c01;
  color: antiquewhite;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: #073c01;
  color: antiquewhite;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  margin: 30px;
}

/* TARJETA QR WHATSAPP PÁGINA CONTACTO */
.bem {
  height: 100vh;
  padding: 5rem 0;
  margin-bottom: 130px;
}

.bem__h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
  color: antiquewhite;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 2rem;
}

.tarjetaWhatsapp {
  background-color: antiquewhite;
  -webkit-box-shadow: 5px 10px 10px rgba(10, 43, 0, 0.8);
          box-shadow: 5px 10px 10px rgba(10, 43, 0, 0.8);
  border-radius: 10px;
  text-align: center;
  width: 300px;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.tarjeta__imagen {
  border-radius: inherit;
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tarjeta__titulo {
  color: #084d08;
  font-size: 22px;
  margin: 1rem 0;
}

.tarjeta__texto {
  color: #0a750a;
  font-size: 12px;
  line-height: 1.5;
}

.tarjeta__icono {
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.tarjeta__icono i {
  line-height: 30px;
}

.avatar, .avatar--small, .avatar--medium, .avatar--large {
  border-radius: 50%;
  background-color: grey;
  padding: 5px;
}

.avatar--small {
  width: 100px;
  height: 100px;
}

.avatar--medium {
  width: 300px;
  height: 300px;
}

.avatar--large {
  width: 500px;
  height: 500px;
}

/* MEDICAMENTOS */
.form-medicamentos {
  width: 1000px;
  background: antiquewhite;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
  font-family: 'Playfair Display', serif;
  color: #053c05;
  -webkit-box-shadow: 7px 13px 37px #031e03;
          box-shadow: 7px 13px 37px #031e03;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(10, 43, 0, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(10, 43, 0, 0.8);
          box-shadow: 0 1px 1px rgba(10, 43, 0, 0.8);
}

.btn-green {
  color: antiquewhite;
  background-color: rgba(35, 137, 4, 0.8);
}

.brn-green:hover {
  background-color: rgba(22, 79, 5, 0.8);
}

.btn-green:active {
  background-color: rgba(16, 54, 4, 0.8);
}

.form-medicamentos h1 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #024e02;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.form-medicamentos .botons {
  width: 30%;
  background: #073c01;
  border: none;
  padding: 12px;
  color: antiquewhite;
  margin: 16px 0;
  font-size: 16px;
  text-align: center;
}

.form-medicamentos .campodetexto {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

/* HEADER */
.header {
  height: 100px;
  -webkit-box-shadow: #fff1;
          box-shadow: #fff1;
}

.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.header__logo {
  height: 50px;
  width: 50px;
}

.header__logo img {
  height: 100%;
}

.flex-header-hijo {
  padding: 5px;
  /* width: 100px;
    height: 100px; */
  color: antiquewhite;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.flex-header--30 {
  width: 30%;
}

.flex-header-70 {
  width: 70%;
}

ul {
  list-style-type: none;
}

.nav__lista {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo {
  margin-left: 2rem;
}

.nav__item {
  margin-right: 2rem;
}

.nav__enlace {
  color: #fff5e9;
  text-decoration: none;
}

.nav_enlace--activo {
  background-color: antiquewhite;
  color: #024b02;
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 30px;
}

/* FOOTER */
.footer {
  height: 100px;
  -webkit-box-shadow: #fff1;
          box-shadow: #fff1;
}

.footer__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-footer-hijo {
  padding: 5px;
  /* width: 100px;
    height: 100px; */
  color: antiquewhite;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

/* Media Queries */
/* TABLET vertical <= 1023 */
@media screen and (max-width: 1024px) {
  .nav__lista {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .flex-header-hijo {
    font-size: 19px;
  }
  .grid {
    margin-top: 50px;
  }
  .caja2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 95%;
    height: 100px;
    padding: 100px;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.5);
  }
  .grid__flex2 h3 {
    font-size: 30px;
    line-height: 10px;
    margin-top: 10px;
  }
  .grid__flex .hero__titulo {
    font-size: 10px;
  }
  .hero__left img {
    width: 95%;
    margin-top: -20px;
  }
  .nav__logo {
    margin-left: 0%;
  }
  .perfu__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid__flex .hero__titulo {
    font-size: 100px;
  }
  .grid__flex .hero__parrafo {
    margin-bottom: -100px;
  }
  .ofertas__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px 300px 300px 300px;
        grid-template-rows: 300px 300px 300px 300px;
  }
  .footer {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tabla {
    font-size: 8vh;
    margin-top: 80px;
  }
  .header {
    height: auto;
    margin-bottom: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1px;
  }
  .grid__flex h1 {
    font-size: 30px;
    margin-bottom: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid__flex .hero__titulo {
    font-size: 110px;
    line-height: 60px;
    margin-top: 100px;
    margin-bottom: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 100px;
  }
  .grid__flex .hero__parrafo {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .grid__flex2 h3 {
    font-size: 20px;
  }
  .caja2 {
    padding: 0px;
    border-radius: 20px;
    min-height: 70vh;
  }
  .grid__flex2 h3 {
    font-size: 35px;
  }
  .iconitoWapp {
    margin-top: 20px;
  }
  .caja2 {
    height: 200px;
    margin-top: -80px;
    margin-bottom: 30px;
  }
  .grid__flex .hero__parrafo {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .footer__contenedor .flex-footer-hijo {
    font-size: 10px;
  }
  .footer__contenedor img {
    width: 100%;
    height: 20px;
  }
  .flex-header-hijo {
    margin-top: 0px;
  }
  .header__contenedor img {
    width: 140px;
    height: 30px;
    margin-left: 10px;
  }
  .grid__flex {
    text-align: left;
    margin-top: -50px;
  }
  .grid img {
    width: 310px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .hero__copete {
    margin-top: 10px;
    margin-bottom: -100px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .titulo {
    font-size: 50px;
  }
  .btn-open-sidebar {
    display: inline-block;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  .nav__lista {
    background-color: rgba(10, 43, 0, 0.8);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    padding: 1rem;
    -webkit-transition: -webkit-transform 0.5;
    transition: -webkit-transform 0.5;
    transition: transform 0.5;
    transition: transform 0.5, -webkit-transform 0.5;
    z-index: 100;
  }
  #sidebar:target {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header_logo flex-header--30 nav__logo img {
    margin-left: 1;
  }
  .nav__item--oculto {
    display: block;
  }
  .header__contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
  }
  .galeria {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .close {
    top: 20px;
    right: 20px;
  }
  .form-medicamentos {
    width: 95%;
  }
  .grid3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18% 70%;
        grid-template-columns: 18% 70%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "logoTelefono telefono qr" "logoInstagram instagram qr" "logoGmail gmail qr" "logoDireccion direccion qr";
    gap: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: antiquewhite;
    margin-bottom: 200px;
    font-size: 10px;
    margin-left: 15px;
    width: 100%;
  }
  section#telefono {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: telefono;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 12vh;
    margin-left: 20px;
  }
  section#instagram {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: instagram;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 12vh;
  }
  section#gmail {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: gmail;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 12vh;
  }
  section#direccion {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: direccion;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 12vh;
  }
  .bem {
    display: none;
  }
}

/* TABLET vertical <= 729 */
@media screen and (max-width: 729px) {
  .grid img {
    width: 405px;
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .grid__flex {
    text-align: left;
  }
  .grid__flex h1 {
    font-size: 30px;
    margin-bottom: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
  }
  .grid__flex .hero__parrafo {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -70px;
  }
  .light-box h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 4vh;
  }
  .tabla {
    font-size: 6vh;
    margin-top: 80px;
  }
  section#telefono {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: telefono;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 11vh;
    margin-left: 20px;
  }
  section#instagram {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: instagram;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 11vh;
  }
  section#gmail {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: gmail;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 11vh;
  }
  section#direccion {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: direccion;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 11vh;
  }
}

/* MOBILE vertical <= 480 */
@media screen and (max-width: 480px) {
  .grid__flex h1 {
    font-size: 30px;
    margin-bottom: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .grid__flex .hero__parrafo {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: -60px;
  }
  .nav__lista {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .grid {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caja2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 95%;
    height: 100px;
    padding: 100px;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.5);
  }
  .grid__flex2 h3 {
    font-size: 30px;
    line-height: 10px;
    margin-top: 10px;
  }
  .grid__flex .hero__titulo {
    font-size: 10px;
  }
  .hero__left img {
    width: 95%;
    margin-top: -20px;
  }
  .nav__logo {
    margin-left: 0%;
  }
  .perfu__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid__flex .hero__titulo {
    font-size: 100px;
  }
  .grid__flex .hero__parrafo {
    margin-bottom: -100px;
  }
  .ofertas__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px 300px 300px 300px;
        grid-template-rows: 300px 300px 300px 300px;
  }
  .footer {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tabla {
    font-size: 5vh;
  }
  .bem {
    display: none;
  }
  .header {
    height: auto;
    margin-bottom: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1px;
  }
  .grid__flex h1 {
    font-size: 30px;
    margin-bottom: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid__flex .hero__titulo {
    font-size: 60px;
    line-height: 60px;
    margin-top: 100px;
    margin-bottom: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid__flex .hero__parrafo {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .grid__flex2 h3 {
    font-size: 20px;
  }
  .iconitoWapp {
    margin-top: 20px;
  }
  .caja2 {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 0px;
  }
  .grid__flex .hero__parrafo {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .footer__contenedor .flex-footer-hijo {
    font-size: 10px;
  }
  .footer__contenedor img {
    width: 100%;
    height: 20px;
  }
  .flex-header-hijo {
    margin-top: 0px;
  }
  .header__contenedor img {
    width: 140px;
    height: 30px;
    margin-left: 10px;
  }
  .grid__flex {
    text-align: center;
  }
  .grid img {
    width: 310px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .hero__copete {
    margin-top: 10px;
    margin-bottom: -100px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .titulo {
    font-size: 50px;
  }
  .btn-open-sidebar {
    display: inline-block;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  .nav__lista {
    background-color: rgba(10, 43, 0, 0.8);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    padding: 1rem;
    -webkit-transition: -webkit-transform 0.5;
    transition: -webkit-transform 0.5;
    transition: transform 0.5;
    transition: transform 0.5, -webkit-transform 0.5;
    z-index: 100;
  }
  #sidebar:target {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header_logo flex-header--30 nav__logo img {
    margin-left: 1;
  }
  .nav__item--oculto {
    display: block;
  }
  .header__contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
  }
  .galeria {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .close {
    top: 20px;
    right: 20px;
  }
  .form-medicamentos {
    width: 95%;
  }
  .grid3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18% 70%;
        grid-template-columns: 18% 70%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "logoTelefono telefono qr" "logoInstagram instagram qr" "logoGmail gmail qr" "logoDireccion direccion qr";
    gap: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: antiquewhite;
    margin-bottom: 200px;
    font-size: 10px;
    margin-left: 15px;
    width: 100%;
  }
  section#telefono {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: telefono;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 26px;
    margin-left: 20px;
  }
  section#instagram {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: instagram;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 30px;
  }
  section#gmail {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: gmail;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 23px;
  }
  section#direccion {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: direccion;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 25px;
  }
  .light-box img {
    width: 60vw;
    max-height: 70vh;
  }
}

/* MOBILE vertical <= 320 */
@media screen and (max-width: 380px) {
  .tabla {
    font-size: 3vh;
  }
  section#telefono {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: telefono;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 16px;
    margin-left: 20px;
  }
  section#instagram {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: instagram;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 16px;
  }
  section#gmail {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: gmail;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 16px;
  }
  section#direccion {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: direccion;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
    font-size: 16px;
  }
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 5rem;
}
/*# sourceMappingURL=styles.css.map */