                                        /* Media Queries */

/* TABLET vertical <= 1023 */

@media screen and (max-width: 1024px) {

    .nav__lista {
        flex-wrap: wrap;
        gap: 20px;
    }

    .flex-header-hijo {
        font-size: 19px;
    }
    
    .grid {
        margin-top: 50px;
    }

    .caja2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
        width: 95%;
        height: 100px;
        padding: 100px;
        min-height: 50vh;
        background: rgba(0,0,0,0.5);
    }


    .grid__flex2 h3 {
        font-size: 30px;
        line-height: 10px;
        margin-top: 10px;
    }

    .grid__flex .hero__titulo {
        font-size: 10px;
    }



    .hero__left img {
        width: 95%;
        margin-top: -20px;
    }

    .nav__logo {
        margin-left: 0%;
    }

    .perfu__contenedor {
        flex-direction: column;
    }

    .grid__flex .hero__titulo {
        font-size: 100px;
    }

    .grid__flex .hero__parrafo {
        margin-bottom: -100px;
    }


    .ofertas__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px;
    }

    .footer {
        height: auto;
        justify-content: center;
    } 

    .footer__contenedor {
        flex-direction: row;
    } 

    .tabla {
        font-size: 8vh;
        margin-top: 80px;
    }


    .header {
        height: auto;
        margin-bottom: none;
        align-self: center;
        justify-self: center;
    }

    .header__contenedor {
        flex-direction: column;
        margin-bottom: 1px;
    }

    
    
    .grid__flex h1 {
        font-size: 30px;
        margin-bottom: none;
        justify-content: center;
        
    }

    .grid__flex .hero__titulo {
        font-size: 110px;
        line-height: 60px;
        margin-top: 100px;
        margin-bottom: 90px;
        justify-content: center;
        line-height: 100px;
    }

    .grid__flex .hero__parrafo {
        font-size: 15px;
        margin-bottom: 5px;
        
    }

    .grid__flex2 h3 {
        font-size: 20px;
    }

    .caja2 {
        padding: 0px;
        border-radius: 20px;
        min-height: 70vh;
    }

    .grid__flex2 h3 {
        font-size: 35px;
    }

    .iconitoWapp {
        margin-top: 20px;
    }

    .caja2 {
        height: 200px;
        margin-top: -80px;
        margin-bottom: 30px;
    }

    .grid__flex .hero__parrafo {
        font-size: 15px;
        margin-bottom: 5px;
        
    }

    .footer__contenedor .flex-footer-hijo {
        font-size: 10px;
    }

    .footer__contenedor img {
        width: 100%;
        height: 20px;
    }

    .flex-header-hijo {
        margin-top: 0px;
    }

    .header__contenedor img {
        width: 140px;
        height: 30px;
        margin-left: 10px;
    }

    .grid__flex {
        text-align: left;
        margin-top: -50px;
    }

    .grid img {
        width: 310px;
        height: 500px;
        object-fit: cover;
        border-radius: 20px;
    
    }

    .hero__copete {
        margin-top: 10px;
        margin-bottom: -100px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: 1;
    }

    .titulo {
        font-size: 50px;
    }

    .btn-open-sidebar {
        display: inline-block;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }

    .nav__lista {
        background-color: rgba(10, 43, 0, 0.8);
        width: 80%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5;
        z-index: 100;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .header_logo flex-header--30 nav__logo img {
        margin-left: 1;
    }

    .nav__item--oculto {
        display: block;
    }

    .header__contenedor {
        flex-direction: row;
        margin-bottom: 10px;
    }

    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }   
    
    .close{
        top: 20px;
        right: 20px;
    }

    .form-medicamentos {
        width: 95%;
    }



    .grid3 {
        display: grid;
        grid-template-columns: 18% 70%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "logoTelefono telefono qr"
            "logoInstagram instagram qr"
            "logoGmail gmail qr"
            "logoDireccion direccion qr";
        gap: 10px;
        flex-direction: row;
        color: antiquewhite;
        margin-bottom: 200px;
        font-size: 10px;
        margin-left: 15px;
        width: 100%;
        
    }

    section#telefono {
        grid-area: telefono;
        align-self: center;
        justify-self: left;
        font-size: 12vh;
        margin-left: 20px;
    }

    section#instagram {
        grid-area: instagram;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 12vh;
    }

    section#gmail {
        grid-area: gmail;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 12vh;
    }

    section#direccion {
        grid-area: direccion;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 12vh;
    }

    .bem {
        display: none;
    }
}

/* TABLET vertical <= 729 */
@media screen and (max-width: 729px) {

    .grid img {
        width: 405px;
        height: 380px;
        object-fit: cover;
        border-radius: 20px;
    }

    .grid__flex {
        text-align: left;
    }

    .grid__flex h1 {
        font-size: 30px;
        margin-bottom: none;
        justify-content: center;
        margin-top: -30px;
    }

    .grid__flex .hero__parrafo {
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: -70px;
    }

    .light-box h1 {
        color: antiquewhite;
        text-align: center;
        font-size: 4vh;
    }

    .tabla {
        font-size: 6vh;
        margin-top: 80px;
    }

    section#telefono {
        grid-area: telefono;
        align-self: center;
        justify-self: left;
        font-size: 11vh;
        margin-left: 20px;
    }

    section#instagram {
        grid-area: instagram;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 11vh;
    }

    section#gmail {
        grid-area: gmail;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 11vh;
    }

    section#direccion {
        grid-area: direccion;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 11vh;
    }

}


/* MOBILE vertical <= 480 */

@media screen and (max-width: 480px) {

    .grid__flex h1 {
        font-size: 30px;
        margin-bottom: none;
        justify-content: center;
        margin-top: 30px;
    }

    .grid__flex .hero__parrafo {
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: -60px;
    }

    .nav__lista {
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .grid {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .caja2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
        width: 95%;
        height: 100px;
        padding: 100px;
        min-height: 50vh;
        background: rgba(0,0,0,0.5);
    }


    .grid__flex2 h3 {
        font-size: 30px;
        line-height: 10px;
        margin-top: 10px;
    }

    .grid__flex .hero__titulo {
        font-size: 10px;
    }



    .hero__left img {
        width: 95%;
        margin-top: -20px;
    }

    .nav__logo {
        margin-left: 0%;
    }

    .perfu__contenedor {
        flex-direction: column;
    }

    .grid__flex .hero__titulo {
        font-size: 100px;
    }

    .grid__flex .hero__parrafo {
        margin-bottom: -100px;
    }


    .ofertas__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px;
    }

    .footer {
        height: auto;
        justify-content: center;
    } 

    .footer__contenedor {
        flex-direction: row;
    } 

    .tabla {
        font-size: 5vh;
    }

    .bem {

        display: none;
    }


    .header {
        height: auto;
        margin-bottom: none;
        align-self: center;
        justify-self: center;
    }

    .header__contenedor {
        flex-direction: column;
        margin-bottom: 1px;
    }

    
    
    .grid__flex h1 {
        font-size: 30px;
        margin-bottom: none;
        justify-content: center;
        
    }

    .grid__flex .hero__titulo {
        font-size: 60px;
        line-height: 60px;
        margin-top: 100px;
        margin-bottom: 90px;
        justify-content: center;
    }

    .grid__flex .hero__parrafo {
        font-size: 15px;
        margin-bottom: 5px;
        
    }

    .grid__flex2 h3 {
        font-size: 20px;
    }

    .iconitoWapp {
        margin-top: 20px;
    }

    .caja2 {
        height: 200px;
        margin-top: 10px;
        margin-bottom: 80px;
        padding: 0px;
    }

    .grid__flex .hero__parrafo {
        font-size: 15px;
        margin-bottom: 5px;
        
    }

    .footer__contenedor .flex-footer-hijo {
        font-size: 10px;
    }

    .footer__contenedor img {
        width: 100%;
        height: 20px;
    }

    .flex-header-hijo {
        margin-top: 0px;
    }

    .header__contenedor img {
        width: 140px;
        height: 30px;
        margin-left: 10px;
    }

    .grid__flex {
        text-align: center;
    }

    .grid img {
        width: 310px;
        height: 500px;
        object-fit: cover;
        border-radius: 20px;
    
    }

    .hero__copete {
        margin-top: 10px;
        margin-bottom: -100px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: 1;
    }

    .titulo {
        font-size: 50px;
    }

    .btn-open-sidebar {
        display: inline-block;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }

    .nav__lista {
        background-color: rgba(10, 43, 0, 0.8);
        width: 80%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5;
        z-index: 100;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .header_logo flex-header--30 nav__logo img {
        margin-left: 1;
    }

    .nav__item--oculto {
        display: block;
    }

    .header__contenedor {
        flex-direction: row;
        margin-bottom: 10px;
    }

    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }   
    
    .close{
        top: 20px;
        right: 20px;
    }

    .form-medicamentos {
        width: 95%;
    }



    .grid3 {
        display: grid;
        grid-template-columns: 18% 70%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "logoTelefono telefono qr"
            "logoInstagram instagram qr"
            "logoGmail gmail qr"
            "logoDireccion direccion qr";
        gap: 10px;
        flex-direction: row;
        color: antiquewhite;
        margin-bottom: 200px;
        font-size: 10px;
        margin-left: 15px;
        width: 100%;
        
    }

    section#telefono {
        grid-area: telefono;
        align-self: center;
        justify-self: left;
        font-size: 26px;
        margin-left: 20px;
    }

    section#instagram {
        grid-area: instagram;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 30px;
    }

    section#gmail {
        grid-area: gmail;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 23px;
    }

    section#direccion {
        grid-area: direccion;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 25px;
    }


    .light-box img {
        width: 60vw;
        max-height: 70vh;
    }

}

/* MOBILE vertical <= 320 */

@media screen and (max-width: 380px) {
    .tabla {
        font-size: 3vh;
    }

    section#telefono {
        grid-area: telefono;
        align-self: center;
        justify-self: left;
        font-size: 16px;
        margin-left: 20px;
    }

    section#instagram {
        grid-area: instagram;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 16px;
    }

    section#gmail {
        grid-area: gmail;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 16px;
    }

    section#direccion {
        grid-area: direccion;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left;
        font-size: 16px;
    }
}